#viki-main-container {
  min-height: calc(100vh - 116px - 65px);
}

code {
  color: #C7254E;
  background-color: #F9F2F4;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

pre>code {
  border-left: .3em solid #FF793F;
}

#viki-navbar {
  background-color: #2D3436;
}

main img {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem
}

main ul li {
  list-style: disc;
}
